# Personal Specific Development Files
RELEASE.MD
DEVELOPMENT.MD

# Python or Backend Related Files
backend/.venv/
backend/job_application_tracker_table.db

__pycache__/
.pytest_cache/
*.env
*.pyc
*.pyo
*.db
backend/.env

# Frontend Related Files
frontend/node_modules/
frontend/dists/
