# Personal Specific Development Files
RELEASE.MD
DEVELOPMENT.MD



# Python or Backend Related Files

backend/.venv/
backend/__pycache__/
backend/tests/__init__.py
backend/tests/__pycache__
backend/tests/.pytest_cache
backend/job_application_tracker_table.db

*.pyc
*.pyo
*.db
backend/.env

# Frontend Related Files
frontend/node_modules/